body{
    background-color:whitesmoke;
}
#barra{
    background-color: black;
    height: 120px;
    width: 10px;
    padding:0px;
}
#container{
    background-color:black;
    height: 200px;
    width: 80px;
    border-radius: 10px;
}
button{
    border: none;
    border-radius: 25px;
}
.redlight {
  background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-bottom: 5px;
    margin-top:20px;
    padding-top: 0px;
  transition: all 0.3s ease 0s;
  }

.yellowlight {
    background-color:yellow;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.greenlight {
    background-color:green;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.light{
    transition: all 0.3s ease 0s;  
    box-shadow: 5px 5px 60px rgb(245, 245, 241);
    color: #fff;
}
